<div class="col-sm-9 page-content">
  <div class="inner-box">
    <h2 class="title-2">
      <i class="icon-hourglass"></i>
      Agendamentos
    </h2>

    <div>
      <label>Pesquisar: <input ng-model="searchText"></label>
      <div style="clear:both"></div>
    </div>

    <div class="table-responsive">
      <table id="addManageTable"
             class="table table-striped table-bordered add-manage-table table demo footable-loaded footable"
             data-filter="#filter" data-filter-text-only="true">
        <thead>
        <tr>
          <th>
            Data
          </th>
          <th>
            Serviço
          </th>
          <th>
            Profissional
          </th>
          <th>
            Estabelecimento
          </th>
          <th>
            Ação
          </th>
        </tr>
        </thead>
        <tbody ng-repeat="sch in schedules | filter:searchText">
        <tr>
          <td style="width:20%" class="ads-details-td">
            <div>
              <p>
                {{sch.scheduleDate}}
              </p>
            </div>
          </td>
          <td style="width:20%" class="ads-details-td">
            <div>
              <p>
                {{sch.professionalService.establishmentService.service}}
              </p>
            </div>
          </td>
          <td style="width:20%" class="ads-details-td">
            <div>
              <p>
                {{sch.professionalService.establishmentEmployee.user.name}}
              </p>
            </div>
          </td>
          <td style="width:20%" class="ads-details-td">
            <div>
              <p>
                {{sch.establishmentName}}
              </p>
            </div>
          </td>
          <td style="width:20%" class="action-td">
            <div>
              <a id="cancelSchedule" name="cancelSchedule" ng-click="cancel(sch)" class="btn btn-danger btn-xs">
                <i class=" fa fa-close"></i>
                Cancelar
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
