<div class="main-container">
  <div class="container">
    <ol class="breadcrumb pull-left">
      <li><a href="/#/"><i class="icon-home fa"></i></a></li>
    </ol>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 page-content col-thin-right">
        <div class="inner inner-box ads-details-wrapper">
          <h2> {{establishment.name}} </h2>
          <span class="info-row">
            <span class="item-location"><i class="fa fa-map-marker"></i>
            {{establishment.address.street}} - {{establishment.address.neighborhood}} - {{establishment.address.city}} - {{establishment.address.state}} - Fone: {{establishment.phone}}
            </span>
          </span>

          <div class="Ads-Details">
            <div class="row">
              <div class="ads-details-info col-md-12">
                <p>{{establishment.description}}</p>
                <h4><strong>Serviços</strong></h4>
                <ul ng-repeat="svc in establishment.establishmentServices" class="list-circle">
                  <li><strong>{{svc.service}}</strong> - {{svc.description}} - Preço: <strong>R${{svc.price}}</strong>
                  </li>
                </ul>
                <h4>Profissionais</h4>
                <ul ng-repeat="prof in establishment.establishmentEmployees">
                  <li>{{prof.user.name}}</li>
                </ul>
              </div>
            </div>

          </div>
          <h5 class="list-title"><strong>Agende aqui</strong></h5>

          <form name="scheduleForm" ng-submit="saveSchedule(schedule)"
                class="" novalidate>
            <div class="form-group">
              <select id="scheduleEstablishmentService" name="scheduleEstablishmentService"
                      ng-model="schedule.establishmentServiceId" ng-required="true" class="form-control">
                <option value="" disabled selected>Serviço</option>
                <option ng-repeat="option in establishment.establishmentServices" value="{{option.id}}">
                  {{option.service}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <select id="scheduleEstablishmentEmployee" name="scheduleEstablishmentEmployee"
                      ng-model="schedule.establishmentEmployeeId" ng-required="true" class="form-control">
                <option value="" disabled selected>Profissional</option>
                <option ng-repeat="option in establishment.establishmentEmployees" value="{{option.id}}">
                  {{option.user.name}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <ng-datepicker id="scheduleDate" name="scheduleDate" ng-model="schedule.date" locale="pt-br"
                             format="DD/MM/YYYY" view-format="DD/MM/YYYY" placeholder="__/__/____">
              </ng-datepicker>
            </div>
            <div class="form-group">
              <select id="scheduleScheduleInMinutes" name="scheduleScheduleInMinutes"
                      ng-model="schedule.scheduleInMinutes" ng-required="true" class="form-control">
                <option value="" disabled selected>Horário</option>
                <option value="0000">00:00</option>
                <option value="0030">00:30</option>
                <option value="0060">01:00</option>
                <option value="0090">01:30</option>
                <option value="0120">02:00</option>
                <option value="0150">02:30</option>
                <option value="0180">03:00</option>
                <option value="0210">03:30</option>
                <option value="0240">04:00</option>
                <option value="0270">04:30</option>
                <option value="0300">05:00</option>
                <option value="0330">05:30</option>
                <option value="0360">06:00</option>
                <option value="0390">06:30</option>
                <option value="0420">07:00</option>
                <option value="0750">07:30</option>
                <option value="0480">08:00</option>
                <option value="0510">08:30</option>
                <option value="0540">09:00</option>
                <option value="0570">09:30</option>
                <option value="0600">10:00</option>
                <option value="0630">10:30</option>
                <option value="0660">11:00</option>
                <option value="0690">11:30</option>
                <option value="0720">12:00</option>
                <option value="0750">12:30</option>
                <option value="0780">13:00</option>
                <option value="0810">13:30</option>
                <option value="0840">14:00</option>
                <option value="0870">14:30</option>
                <option value="0900">15:00</option>
                <option value="0930">15:30</option>
                <option value="0960">16:00</option>
                <option value="0990">16:30</option>
                <option value="1020">17:00</option>
                <option value="1050">17:30</option>
                <option value="1080">18:00</option>
                <option value="1110">18:30</option>
                <option value="1140">19:00</option>
                <option value="1170">19:30</option>
                <option value="1200">20:00</option>
                <option value="1230">20:30</option>
                <option value="1260">21:00</option>
                <option value="1290">21:30</option>
                <option value="1320">22:00</option>
                <option value="1350">22:30</option>
                <option value="1380">23:00</option>
                <option value="1410">23:30</option>
              </select>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-8">
                <div class="termbox mb10"></div>
                <div style="clear:both"></div>
                <button type="submit" class="btn btn-success">Agendar</button>
              </div>
            </div>

            <div style="clear:both;padding-bottom: 250px;"></div>
          </form>
        </div>
      </div>
      <div class="col-sm-3  page-sidebar-right">
        <aside>
          <div class="panel sidebar-panel">
            <div class="panel-heading">Faça seu agendamento</div>
            <div class="panel-content">
              <div class="panel-body text-left">
                <ul class="list-check">
                  <li> Escolha o serviço</li>
                  <li> Escolha o profissional</li>
                  <li> Escolha a data</li>
                  <li> Pronto! É só agendar</li>
                </ul>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
