<div class="main-container">
  <div class="container">
    <ol class="breadcrumb pull-left">
      <li><a href="/#/"><i class="icon-home fa"></i></a></li>
    </ol>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 page-content col-thin-right">
        <div class="inner inner-box ads-details-wrapper">
          <h2> {{establishment.name}} </h2>
          <span class="info-row">
            <span class="item-location"><i class="fa fa-map-marker"></i>
            {{establishment.address.street}} - {{establishment.address.neighborhood}} - {{establishment.address.city}} - {{establishment.address.state}} - Fone: {{establishment.phone}}
            </span>
          </span>

          <div class="Ads-Details">
            <div class="row">
              <div class="ads-details-info col-md-12">
                <p>{{establishment.description}}</p>
                <h4><strong>Serviços</strong></h4>
                <ul ng-repeat="svc in establishment.establishmentServices" class="list-circle">
                  <li><strong>{{svc.service}}</strong> - {{svc.description}} - Preço: <strong>R${{svc.price}}</strong>
                  </li>
                </ul>
                <h4>Profissionais</h4>
                <ul ng-repeat="prof in establishment.establishmentEmployees">
                  <li>{{prof.user.name}}</li>
                </ul>
              </div>
            </div>

          </div>
          <h5 class="list-title"><strong>Agende aqui</strong></h5>


          <div class="form-group">
            <select id="establishmentService" name="establishmentService"
                    ng-model="establishmentServiceId" ng-required="true" class="form-control">
              <option value="" disabled selected>Serviço</option>
              <option ng-repeat="option in establishment.establishmentServices" value="{{option.id}}">
                {{option.service}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <select id="establishmentEmployeeProfessional" name="establishmentEmployeeProfessional"
                    ng-model="establishmentEmployeeId" ng-required="true" class="form-control">
              <option value="" disabled selected>Profissional</option>
              <option ng-repeat="option in establishment.establishmentServices" value="{{option.id}}">
                {{option.service}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <ng-datepicker ng-model="scheduleDate" locale="pt-br" format="DD/MM/YYYY" view-format="DD/MM/YYYY">
            </ng-datepicker>
          </div>
          <div class="form-group">
            <select id="scheduleInMinutes" name="scheduleInMinutes"
                    ng-model="scheduleInMinutes" ng-required="true" class="form-control">
              <option value="" disabled selected>Selecione</option>
              <option ng-repeat="option in schedules" value="{{option.scheduleInMinutes}}">
                {{option.scheduleInMinutesTitle}}
              </option>
            </select>
          </div>

          <div style="clear:both;padding-bottom: 300px;"></div>
        </div>

      </div>

      <div class="col-sm-3  page-sidebar-right">
        <aside>
          <div class="panel sidebar-panel">
            <div class="panel-heading">Faça seu agendamento</div>
            <div class="panel-content">
              <div class="panel-body text-left">
                <ul class="list-check">
                  <li> Escolha o serviço</li>
                  <li> Escolha o profissional</li>
                  <li> Escolha a data</li>
                  <li> Pronto! É só agendar</li>
                </ul>
              </div>
            </div>
          </div>
        </aside>
      </div>

    </div>
  </div>
</div>