<div class="footer" id="footer">
  <div class="container">
    <ul class=" pull-left navbar-link footer-nav">
      <li>
        <a href="/#/">
          Início
        </a>
        <a href="about-us.html">
          Sobre Nós
        </a>
        <a href="#">
          Termos e Condições
        </a>
        <a href="contact.html">
          Entre em contato
        </a>
        <a href="/#/new-establishment-request">
          Registre seu Estabelecimento
        </a>
        <a href="faq.html">
          FAQ
        </a>
      </li>
    </ul>
    <ul class=" pull-right navbar-link footer-nav">
      <li>
        &copy; 2016 Haircutter
      </li>
    </ul>
  </div>
</div>
