<div class="search-row-wrapper">
  <div class="container ">
    <form action="#" method="GET">
      <div class="col-sm-3">
        <input class="form-control keyword" ng-model="city" type="text" placeholder="Cidade">
      </div>
      <div class="col-sm-3">
        <input class="form-control keyword" ng-model="searchValue" type="text" placeholder="Estou procurando por...">
      </div>
      <div class="col-sm-3">
        <button class="btn btn-block btn-primary" ng-click="searchButton(city,searchValue)"><i class="fa fa-search"></i></button>
      </div>
    </form>
  </div>
</div>

<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 page-content col-thin-left">
        <div class="category-list">
          <div class="listing-filter">
            <div class="pull-left col-xs-6">

            </div>
            <div class="pull-right col-xs-6 text-right listing-view-action"><span class="list-view active"><i
              class="  icon-th"></i></span></div>
            <div style="clear:both"></div>
          </div>

          <div class="adds-wrapper">
            <div class="tab-content">
              <div class="tab-pane active" id="allAds">

                <div ng-repeat="est in establishments | filter:filterSearchValue" class="item-list">

                  <div class="col-sm-9 add-desc-box">
                    <div class="add-details">
                      <h5 class="add-title"><a href="ads-details.html">
                        {{est.name}} </a></h5>
                      <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                                                    data-placement="right" title="Business Ads">B </span> <span
                        class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span
                        class="item-location"><i class="fa fa-map-marker"></i> London </span> </span></div>
                  </div>

                  <div class="col-sm-3 text-right  price-box">
                    <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i>
                      <span>Visitar</span> </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
