<div class="col-sm-3 page-sidebar">
  <aside>
    <div class="inner-box">
      <div class="user-panel-sidebar">
        <div class="collapse-box">
          <h5 class="collapse-title">
            Menu
            <div class="pull-right" data-toggle="collapse" href="#MyAds" style="cursor:pointer;">
              <i class="fa fa-angle-down"></i>
            </div>
          </h5>
          <div id="MyAds" class="panel-collapse collapse in">
            <ul class="acc-list">
              <li ng-class="profileActiveMenu">
                <a href="#/profile">
                  <i class="icon-hourglass"></i>
                  Perfil
                </a>
              </li>
              <li ng-class="servicesActiveMenu">
                <a href="#/services">
                  <i class="icon-hourglass"></i>
                  Serviços
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
