<!DOCTYPE html>
<html lang="en" ng-app="establishmentAdminApp">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Haircutter</title>

    <link href="/vendors/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/vendors/assets/css/style.css" rel="stylesheet"></link>
    <link href="/vendors/assets/css/owl.carousel.css" rel="stylesheet"></link>
    <link href="/vendors/assets/css/owl.theme.css" rel="stylesheet"></link>

    <!-- angular and jquery resources -->
    <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="/vendors/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/vendors/bower_components/angular/angular.min.js"></script>
    <script src="/vendors/bower_components/angular-route/angular-route.js"></script>
    <script src="/vendors/bower_components/angular-resource/angular-resource.js"></script>

    <!-- application js -->
    <script src="/establishment-admin/js/app.js"></script>
    <script src="/establishment-admin/js/controllers.js"></script>

    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> <![endif]-->

    <script>
      paceOptions = {
        elements: true
      };
    </script>
    <script src="/vendors/assets/js/pace.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div data-ng-view=""></div>
    </div>

    <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/vendors/assets/js/owl.carousel.min.js"></script>

    <script src="/vendors/assets/js/jquery.matchHeight-min.js"></script>

    <script src="/vendors/assets/js/hideMaxListItem.js"></script>

    <script src="/vendors/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js"></script>
    <script src="/vendors/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js"></script>

    <script src="/vendors/assets/js/script.js"></script>
  </body>
</html>
