<div ng-controller="EstablishmentEmployeeController">

    <div ng-include="'/establishment-admin/partials/content/header.html'"></div>

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div ng-include="'/establishment-admin/partials/content/menu.html'"></div>
                <div ng-include="'/establishment-admin/partials/content/establishment-employeee.html'"></div>
            </div>
        </div>
    </div>

    <div ng-include="'/establishment-admin/partials/content/footer.html'"></div>
</div>