<div class="col-sm-3 page-sidebar">
  <aside>
    <div class="inner-box">
      <div class="user-panel-sidebar">
        <div class="collapse-box">
          <h5 class="collapse-title">
            Solicitações
            <div class="pull-right" data-toggle="collapse" href="#MyAds" style="cursor:pointer;">
              <i class="fa fa-angle-down"></i>
            </div>
          </h5>
          <div id="MyAds" class="panel-collapse collapse in">
            <ul class="acc-list">
              <li ng-class="requestsActiveMenu">
                <a href="#/establishment-creation-requests">
                  <i class="icon-hourglass"></i>
                  Estabelecimentos
                  <span class="badge">{{establishmentCreationRequests.length}}</span>
                </a>
              </li>
              <li ng-class="complaintsActiveMenu">
                <a href="#/complaints">
                  <i class="icon-hourglass"></i>
                  Denúncias
                  <span class="badge">{{complaints.length}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
