<div class="modal fade" id="deactivateModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title"><i class="fa fa-exclamation"></i> Desativar Estabelecimento </h4>
      </div>
      <div class="modal-body">
        <form name="disapproveForm" ng-submit="deactivateEstablishment()" novalidate>
          <div class="form-group">
            <label class="control-label">Deseja realmente desativar este estabelecimento?</label>
            <br />
            <p>Atenção! Para reativá-lo será necessário entrar em contato conosco.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger pull-right">Desativar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>