<div class="col-sm-9 page-content">
  <div class="inner-box">
    <h2 class="title-2">
      <i class="icon-hourglass"></i>
      Funcionários
    </h2>
    
    <label>Pesquisar: <input ng-model="searchText"></label>

    <div class="table-responsive">
      <table id="addManageTable" class="table table-striped table-bordered add-manage-table table demo footable-loaded footable" data-filter="#filter" data-filter-text-only="true">
        <thead>
          <tr>
            <th data-sort-ignore="true">
              Nome
            </th>
            <th data-type="numeric">
              Função
            </th>
            <th>
              Ação
            </th>
          </tr>
        </thead>
        <tbody ng-repeat="employee in employees | filter:searchText">
          <tr>
            <td style="width:20%" class="ads-details-td">
              <div>
                <p>
                  {{employee.user.name}}
                </p>
              </div>
            </td>
            <td style="width:50%" class="ads-details-td">
              <div>
                <p>
                  {{employee.userRoles[0].role}}
                </p>
              </div>
            </td>
            <td style="width:25%" class="action-td">
              <div>
                <a>
                  Editar
                </a>
                <a>
                  Excluir
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
