<div ng-controller="CalendarsController">

    <div ng-include="'/professional/partials/content/header.html'"></div>

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div ng-include="'/professional/partials/content/menu.html'"></div>
                <div ng-include="'/professional/partials/content/calendars.html'"></div>
            </div>
        </div>
    </div>

    <div ng-include="'/professional/partials/content/footer.html'"></div>
</div>